* {
  margin: 0;
  padding: 0;
}

body {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  input {
    width: 100px;
    height: 20px;
  }

  .box {
    background-color: lavender;
    border: 1px black solid;
    margin: 5px;
    padding: 20px;
    height: 200px;
    width: 400px;
    position: relative;
  }

  .form {
    border-radius: 4px;

    .menu-list {
      display: flex;
      list-style: none;
      height: 40px;
      align-items: center;
      border-bottom: 1px rgb(128, 73, 73) solid;

      .menu-list-item {
        display: flex;
        flex: 1 1 80px;
        margin: 0 1px;
        border: 1px black solid;
        border-radius: 7px;
        justify-content: center;
        align-items: center;
        background-color: bisque;
        height: 25px;
        position: relative;
        cursor: pointer;

        .mtab1,
        .mtab2,
        .mtab3,
        .mtab4,
        .mtab5 {
          text-decoration: none;
        }

        .tab-content {
          display: none;
          position: absolute;
          top: 40px;
          width: 394px;
          height: 140px;
          resize: none;
        }

        .tab1 {
          left: 0px;
        }
        .tab2 {
          left: -80px;
        }
        .tab3 {
          left: -160px;
        }
        .tab4 {
          left: -240px;
        }
        .tab5 {
          left: -320px;
        }

        .active {
          display: block;
        }
      }
    }
  }
  .calendar-page {
    display: flex;
    justify-content: stretch;
    align-items: center;

    .calendar-form {
      flex: 0 0 280px;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #ffbbcc;
      margin: 0 20px 0 0;

      .calendar-year {
        //////////////////////        year
        font-weight: bold;
        font-size: 16px;
        margin: 5px 0;
      }

      .calendar-month {
        /////////////                month
        font-weight: bold;
        font-size: 16px;
        margin: 5px 0;
      }

      .calendar-wrap {
        ///////////////            calendar with buttons
        display: flex;
        align-items: center;
        position: relative;

        .calendar {
          table {
            margin: 0 10px;
            tr {
              td {
                width: 23px;
                font-size: 14px;
              }
              td:hover{
                box-shadow: 0 0 11px 2px white;
                background-color: lightgray;
                cursor: pointer;
              }
            }

            .redCol {
              color: red;
            }
          }
        }

        .prev {
          border: 50px solid transparent;
          border-right: 40px solid #000;
          cursor: pointer;
          margin-left: -20px;
        }
        .nxt {
          border: 50px solid transparent;
          border-left: 40px solid #000;
          cursor: pointer;
          margin-right: -20px;
        }
      }
    }

    .calendar-clock {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 200px;

      .calendar-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        color: orange;
        text-shadow: 0 0 2px red, 2px 1px 4px black;
      }

      .clock {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        border-radius: 10px;
        border: 1px dotted black;
      }
    }
  }

  .search-prime-number {
    list-style: none;

    li {
      display: flex;
      height: 25px;
      justify-content: space-between;
    }
    p {
      align-self: center;
    }
    input[type="text"] {
      align-self: center;
    }
    input[type="button"] {
      align-self: center;
    }
    textarea {
      padding: 5px;
      height: 140px;
      width: 100%;
      resize: none;
      margin-top: 5px;
    }
  }

  .alert-search-prime-number {
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 35%;
    left: 25%;
    color: #fff;
    height: 60px;
    padding: 10px;
    border-radius: 15px;
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    p {
      background-color: rgb(0, 0, 0, 0.7);
      padding: 5px;
      border-radius: 10px;
      box-shadow: 0px 0px 7px 0px #fff;
    }

    input[type="submit"] {
      color: #fff;
      border: none;
      border-radius: 10px;
      background-color: rgb(0, 0, 0, 0.7);
      box-shadow: 0px 0px 7px 0px #fff;
    }
  }

  .test-attributes {
    display: flex;
    flex-wrap: wrap;

    h3 {
      flex: 1 1 70px;
    }

    input[type="button"] {
      flex: 1 1 170px;
      margin: 0 0 0 20px;
    }

    .test-attributes-list {
      list-style: none;

      a {
        color: grey;
      }
      li {
        margin-left: 20px;
        height: 20px;
      }
      li:first-child {
        margin-top: 10px;
      }
      li:last-child {
        margin-bottom: 10px;
      }
    }

    p {
      font-size: 14px;
    }
  }

  .add-tree-text {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    p {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: bold;
      margin-top: -10px;
      align-self: center;
      color: blue;
      text-shadow: 0 0 1px red, 0 0 1em blue;
    }

    .wr {
      display: flex;

      ul {
        font-size: 11px;
        padding-left: 30px;
      }
    }
  }
}
